Library
Temp
Logs
obj
.vs
.csproj
Assets/Material/Line_mat.mat
Assets/Material/Parallax/layer 2.mat
Assets/Material/Parallax/layer 3.mat
Assets/Material/Parallax/layer 4.mat
Assets/Material/Parallax/layer 5.mat
ProjectSettings/EditorBuildSettings.asset
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2023.dwlt
Assets/Material/Line_mat.mat
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2023.dwlt
